<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My To Do List</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Today</a></li>
        <li><a href="/work">Work</a></li>
      </ul>
    </nav>
    <div class="container">
      <div class="wrapper">
        <% if (!locals.today && !locals.month) { %>
        <h1><%= listTitle %></h1>
        <% } else {%>
        <h1><%= today %>, <%= month %> <%= new Date().getDate() %></h1>
        <% } %> <% if (locals.addTodo) { %> <% for (var i = 0; i < addTodo.length; i++) { %>
        <form class="checkbox" action="/delete" method="POST">
          <div class="list-container">
            <input type="checkbox" id="list-<%= i %>" value="<%= addTodo[i]._id %>" name="checkbox" onChange="this.form.submit()" />
            <label for="list-<%- i %>"><%= addTodo[i].name %></label>
          </div>
        </form>
        <% }}; %>
        
        <% if (listTitle === "Today") { %>
        <form class="submit" action="/" method="POST">
          <input type="text" placeholder="What would you wanna do..." name="new" />
          <input type="submit"value="+" />
        </form>
        <% } else { %>
          <form class="submit" action = "/<%= listTitle %>" method="POST">
            <input type="text" placeholder="What would you wanna do..." name="new" />
            <input type="submit"value="+" />
          </form>
        <% } %>
      </div>
    </div>
  </body>
</html>
